{% extends "registration/base_registration.html" %}
{% load i18n uni_form_tags %}
{% block title %}{% trans "User login" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}
{% block content_title %}<h2>{% trans "User login" %}</h2>{% endblock %}
{% block content %}
{% if form.helper %}
    {% with form.helper as helper %}
        {% uni_form form helper %}
    {% endwith %}
{% else %}
    {% uni_form form helper %}
{% endif %}
<p>{% trans "If you do not have an account, please" %} <a href="{% url registration_register %}">{% trans "click here" %}</a>.</p>
<p>{% trans "If you do not remember your password, please" %} <a href="{% url auth_password_reset %}">{% trans "click here to have it reset." %}</a></p>
	{% comment %}
	<script type="text/javascript">
		document.getElementById('id_username').focus()
	</script>
	{% endcomment %}
{% endblock %}