{% extends "registration/base_registration.html" %}
{% load i18n uni_form_tags %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
<h2>{% trans "Password reset" %}</h2>
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
 {% if form.helper %}
    {% with form.helper as helper %}
        {% uni_form form helper %}
    {% endwith %}
{% else %}
    {% uni_form form helper %}
 {% endif %}
{% endblock %}