{% extends "registration/base_registration.html" %}
{% load i18n uni_form_tags %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content %}
{% if validlink %}
	<h2>{% trans 'Enter new password' %}</h2>
	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    {% if form.helper %}
        {% with form.helper as helper %}
            {% uni_form form helper %}
        {% endwith %}
    {% else %}
        {% uni_form form helper %}
    {% endif %}
{% else %}
    <h2>{% trans 'Password reset unsuccessful' %}</h2>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
{% endif %}
{% endblock %}