{% extends "registration/base_registration.html" %}
{% load i18n uni_form_tags %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
<h2>{% trans 'Registration' %}</h2>
{% if form.helper %}
    {% with form.helper as helper %}
        {% uni_form form helper %}
    {% endwith %}
{% else %}
    {% uni_form form helper %}
 {% endif %}
	{% comment %}
	<script type="text/javascript">
		document.getElementById('id_username').focus()
	</script>
	{% endcomment %}
{% endblock %}